@tailwind base;
@tailwind components;
@tailwind utilities;


.primaryButton{
    @apply  flex justify-center items-center rounded-xl h-11 w-28 p-5 mr-5 mb-5 bg-blue-400 uppercase leading-normal shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]

}

.ButtonsContainerWidth{
    width: 310px;
}

.search::-webkit-scrollbar{
    width: 44px;
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 12px;
    min-height: 44px;
    border-radius: 12px;
    background: rgba(255, 0, 0, 0.700); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    /* border: 1px solid rgb(253 224 71 0.3);  */
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 0, 0);
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 12px;
    border-radius: 12px;
    /* background-color: green;
    border-radius: 100vw;*/
    /* margin-block: 5px;  */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}